@model MvcMovie.Models.MovieDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.movie.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.movie.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.movie.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.movie.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.movie.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.movie.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.movie.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.movie.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.movie.ID" class="btn btn-default">Edit</a>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
    <a asp-action="Create" asp-controller="Reviews" asp-route-id="@Model.movie.ID" class="btn btn-default">Write a Review</a>   
</div>

<table>
    <tbody>
        <tr>
            <th><h4>Reviews</h4></th>
        </tr>
        @foreach (var item in Model.reviews)
        {
            <tr>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.Comment)</p>
                    - @Html.DisplayFor(modelItem => item.ReviewerName)
                    <hr />

                </td>
                <td>
                <td>
                    <a asp-action="Edit" asp-controller="Reviews" asp-route-id="@item.ReviewID" class="btn btn-default">Edit</a>
                    <a asp-action="Delete" asp-controller="Reviews" asp-route-id="@item.ReviewID" class="btn btn-default">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>

